// Add Option Error
.add-option-error {
    color: $off-purple;
    font-style: italic;
    padding: 0 $m-size;
    margin: $m-size 0 0 0;
}

// Add Option

.add-option {
    display: flex;
    padding: $m-size;
    flex-direction: column;
}

// Option Input

.add-option__input {
    flex-grow: 1;
    background: $dark-blue;
    border: none;
    border-bottom: .3rem solid darken($dark-blue, 10%); 
    margin: 0 0 $s-size 0;
    color: $off-purple;
    padding: $s-size;
}

@media (min-width: $desktop-brakpoint) {
    .add-option{
        flex-direction: row;
    }
    .add-option__input {
        margin: 0 $s-size 0 0;
    }
}